<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roncoo.education.system.dao.impl.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.roncoo.education.system.dao.impl.mapper.entity.SysMenu">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="status_id" jdbcType="TINYINT" property="statusId"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="menu_type" jdbcType="TINYINT" property="menuType"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="menu_icon" jdbcType="VARCHAR" property="menuIcon"/>
        <result column="path_router" jdbcType="VARCHAR" property="pathRouter"/>
        <result column="path_api" jdbcType="VARCHAR" property="pathApi"/>
        <result column="component_path" jdbcType="VARCHAR" property="componentPath"/>
        <result column="component_name" jdbcType="VARCHAR" property="componentName"/>
        <result column="permission" jdbcType="VARCHAR" property="permission"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id
        , gmt_create, gmt_modified, status_id, sort, parent_id, menu_type, menu_name, menu_icon,
    path_router, path_api, component_path, component_name, permission
    </sql>
    <select id="selectByExample" parameterType="com.roncoo.education.system.dao.impl.mapper.entity.SysMenuExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from sys_menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limitStart >= 0">
            limit ${limitStart} , ${pageSize}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_menu
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from sys_menu
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.roncoo.education.system.dao.impl.mapper.entity.SysMenuExample">
        delete from sys_menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.roncoo.education.system.dao.impl.mapper.entity.SysMenu">
        insert into sys_menu (id, gmt_create, gmt_modified,
                              status_id, sort, parent_id,
                              menu_type, menu_name, menu_icon,
                              path_router, path_api, component_path,
                              component_name, permission)
        values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
                #{statusId,jdbcType=TINYINT}, #{sort,jdbcType=INTEGER}, #{parentId,jdbcType=BIGINT},
                #{menuType,jdbcType=TINYINT}, #{menuName,jdbcType=VARCHAR}, #{menuIcon,jdbcType=VARCHAR},
                #{pathRouter,jdbcType=VARCHAR}, #{pathApi,jdbcType=VARCHAR}, #{componentPath,jdbcType=VARCHAR},
                #{componentName,jdbcType=VARCHAR}, #{permission,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.roncoo.education.system.dao.impl.mapper.entity.SysMenu">
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="statusId != null">
                status_id,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="menuType != null">
                menu_type,
            </if>
            <if test="menuName != null">
                menu_name,
            </if>
            <if test="menuIcon != null">
                menu_icon,
            </if>
            <if test="pathRouter != null">
                path_router,
            </if>
            <if test="pathApi != null">
                path_api,
            </if>
            <if test="componentPath != null">
                component_path,
            </if>
            <if test="componentName != null">
                component_name,
            </if>
            <if test="permission != null">
                permission,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="statusId != null">
                #{statusId,jdbcType=TINYINT},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="menuType != null">
                #{menuType,jdbcType=TINYINT},
            </if>
            <if test="menuName != null">
                #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuIcon != null">
                #{menuIcon,jdbcType=VARCHAR},
            </if>
            <if test="pathRouter != null">
                #{pathRouter,jdbcType=VARCHAR},
            </if>
            <if test="pathApi != null">
                #{pathApi,jdbcType=VARCHAR},
            </if>
            <if test="componentPath != null">
                #{componentPath,jdbcType=VARCHAR},
            </if>
            <if test="componentName != null">
                #{componentName,jdbcType=VARCHAR},
            </if>
            <if test="permission != null">
                #{permission,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.roncoo.education.system.dao.impl.mapper.entity.SysMenuExample" resultType="java.lang.Integer">
        select count(*) from sys_menu
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update sys_menu
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.gmtCreate != null">
                gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.gmtModified != null">
                gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="record.statusId != null">
                status_id = #{record.statusId,jdbcType=TINYINT},
            </if>
            <if test="record.sort != null">
                sort = #{record.sort,jdbcType=INTEGER},
            </if>
            <if test="record.parentId != null">
                parent_id = #{record.parentId,jdbcType=BIGINT},
            </if>
            <if test="record.menuType != null">
                menu_type = #{record.menuType,jdbcType=TINYINT},
            </if>
            <if test="record.menuName != null">
                menu_name = #{record.menuName,jdbcType=VARCHAR},
            </if>
            <if test="record.menuIcon != null">
                menu_icon = #{record.menuIcon,jdbcType=VARCHAR},
            </if>
            <if test="record.pathRouter != null">
                path_router = #{record.pathRouter,jdbcType=VARCHAR},
            </if>
            <if test="record.pathApi != null">
                path_api = #{record.pathApi,jdbcType=VARCHAR},
            </if>
            <if test="record.componentPath != null">
                component_path = #{record.componentPath,jdbcType=VARCHAR},
            </if>
            <if test="record.componentName != null">
                component_name = #{record.componentName,jdbcType=VARCHAR},
            </if>
            <if test="record.permission != null">
                permission = #{record.permission,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update sys_menu
        set id = #{record.id,jdbcType=BIGINT},
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
        status_id = #{record.statusId,jdbcType=TINYINT},
        sort = #{record.sort,jdbcType=INTEGER},
        parent_id = #{record.parentId,jdbcType=BIGINT},
        menu_type = #{record.menuType,jdbcType=TINYINT},
        menu_name = #{record.menuName,jdbcType=VARCHAR},
        menu_icon = #{record.menuIcon,jdbcType=VARCHAR},
        path_router = #{record.pathRouter,jdbcType=VARCHAR},
        path_api = #{record.pathApi,jdbcType=VARCHAR},
        component_path = #{record.componentPath,jdbcType=VARCHAR},
        component_name = #{record.componentName,jdbcType=VARCHAR},
        permission = #{record.permission,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.roncoo.education.system.dao.impl.mapper.entity.SysMenu">
        update sys_menu
        <set>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="statusId != null">
                status_id = #{statusId,jdbcType=TINYINT},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="menuType != null">
                menu_type = #{menuType,jdbcType=TINYINT},
            </if>
            <if test="menuName != null">
                menu_name = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuIcon != null">
                menu_icon = #{menuIcon,jdbcType=VARCHAR},
            </if>
            <if test="pathRouter != null">
                path_router = #{pathRouter,jdbcType=VARCHAR},
            </if>
            <if test="pathApi != null">
                path_api = #{pathApi,jdbcType=VARCHAR},
            </if>
            <if test="componentPath != null">
                component_path = #{componentPath,jdbcType=VARCHAR},
            </if>
            <if test="componentName != null">
                component_name = #{componentName,jdbcType=VARCHAR},
            </if>
            <if test="permission != null">
                permission = #{permission,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.roncoo.education.system.dao.impl.mapper.entity.SysMenu">
        update sys_menu
        set gmt_create     = #{gmtCreate,jdbcType=TIMESTAMP},
            gmt_modified   = #{gmtModified,jdbcType=TIMESTAMP},
            status_id      = #{statusId,jdbcType=TINYINT},
            sort           = #{sort,jdbcType=INTEGER},
            parent_id      = #{parentId,jdbcType=BIGINT},
            menu_type      = #{menuType,jdbcType=TINYINT},
            menu_name      = #{menuName,jdbcType=VARCHAR},
            menu_icon      = #{menuIcon,jdbcType=VARCHAR},
            path_router    = #{pathRouter,jdbcType=VARCHAR},
            path_api       = #{pathApi,jdbcType=VARCHAR},
            component_path = #{componentPath,jdbcType=VARCHAR},
            component_name = #{componentName,jdbcType=VARCHAR},
            permission     = #{permission,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
