<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roncoo.education.course.service.dao.impl.mapper.CourseVideoMapper" >
  <resultMap id="BaseResultMap" type="com.roncoo.education.course.service.dao.impl.mapper.entity.CourseVideo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="status_id" property="statusId" jdbcType="TINYINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="course_id" property="courseId" jdbcType="BIGINT" />
    <result column="chapter_id" property="chapterId" jdbcType="BIGINT" />
    <result column="period_id" property="periodId" jdbcType="BIGINT" />
    <result column="video_name" property="videoName" jdbcType="VARCHAR" />
    <result column="video_no" property="videoNo" jdbcType="BIGINT" />
    <result column="video_status" property="videoStatus" jdbcType="TINYINT" />
    <result column="video_length" property="videoLength" jdbcType="VARCHAR" />
    <result column="video_vid" property="videoVid" jdbcType="VARCHAR" />
    <result column="video_oas_id" property="videoOasId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_create, gmt_modified, status_id, sort, course_id, chapter_id, period_id, 
    video_name, video_no, video_status, video_length, video_vid, video_oas_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.roncoo.education.course.service.dao.impl.mapper.entity.CourseVideoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from course_video
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from course_video
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from course_video
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.roncoo.education.course.service.dao.impl.mapper.entity.CourseVideoExample" >
    delete from course_video
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.roncoo.education.course.service.dao.impl.mapper.entity.CourseVideo" >
    insert into course_video (id, gmt_create, gmt_modified, 
      status_id, sort, course_id, 
      chapter_id, period_id, video_name, 
      video_no, video_status, video_length, 
      video_vid, video_oas_id)
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{statusId,jdbcType=TINYINT}, #{sort,jdbcType=INTEGER}, #{courseId,jdbcType=BIGINT}, 
      #{chapterId,jdbcType=BIGINT}, #{periodId,jdbcType=BIGINT}, #{videoName,jdbcType=VARCHAR}, 
      #{videoNo,jdbcType=BIGINT}, #{videoStatus,jdbcType=TINYINT}, #{videoLength,jdbcType=VARCHAR}, 
      #{videoVid,jdbcType=VARCHAR}, #{videoOasId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.roncoo.education.course.service.dao.impl.mapper.entity.CourseVideo" >
    insert into course_video
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="statusId != null" >
        status_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="chapterId != null" >
        chapter_id,
      </if>
      <if test="periodId != null" >
        period_id,
      </if>
      <if test="videoName != null" >
        video_name,
      </if>
      <if test="videoNo != null" >
        video_no,
      </if>
      <if test="videoStatus != null" >
        video_status,
      </if>
      <if test="videoLength != null" >
        video_length,
      </if>
      <if test="videoVid != null" >
        video_vid,
      </if>
      <if test="videoOasId != null" >
        video_oas_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="chapterId != null" >
        #{chapterId,jdbcType=BIGINT},
      </if>
      <if test="periodId != null" >
        #{periodId,jdbcType=BIGINT},
      </if>
      <if test="videoName != null" >
        #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoNo != null" >
        #{videoNo,jdbcType=BIGINT},
      </if>
      <if test="videoStatus != null" >
        #{videoStatus,jdbcType=TINYINT},
      </if>
      <if test="videoLength != null" >
        #{videoLength,jdbcType=VARCHAR},
      </if>
      <if test="videoVid != null" >
        #{videoVid,jdbcType=VARCHAR},
      </if>
      <if test="videoOasId != null" >
        #{videoOasId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.roncoo.education.course.service.dao.impl.mapper.entity.CourseVideoExample" resultType="java.lang.Integer" >
    select count(*) from course_video
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update course_video
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusId != null" >
        status_id = #{record.statusId,jdbcType=TINYINT},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.courseId != null" >
        course_id = #{record.courseId,jdbcType=BIGINT},
      </if>
      <if test="record.chapterId != null" >
        chapter_id = #{record.chapterId,jdbcType=BIGINT},
      </if>
      <if test="record.periodId != null" >
        period_id = #{record.periodId,jdbcType=BIGINT},
      </if>
      <if test="record.videoName != null" >
        video_name = #{record.videoName,jdbcType=VARCHAR},
      </if>
      <if test="record.videoNo != null" >
        video_no = #{record.videoNo,jdbcType=BIGINT},
      </if>
      <if test="record.videoStatus != null" >
        video_status = #{record.videoStatus,jdbcType=TINYINT},
      </if>
      <if test="record.videoLength != null" >
        video_length = #{record.videoLength,jdbcType=VARCHAR},
      </if>
      <if test="record.videoVid != null" >
        video_vid = #{record.videoVid,jdbcType=VARCHAR},
      </if>
      <if test="record.videoOasId != null" >
        video_oas_id = #{record.videoOasId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update course_video
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      status_id = #{record.statusId,jdbcType=TINYINT},
      sort = #{record.sort,jdbcType=INTEGER},
      course_id = #{record.courseId,jdbcType=BIGINT},
      chapter_id = #{record.chapterId,jdbcType=BIGINT},
      period_id = #{record.periodId,jdbcType=BIGINT},
      video_name = #{record.videoName,jdbcType=VARCHAR},
      video_no = #{record.videoNo,jdbcType=BIGINT},
      video_status = #{record.videoStatus,jdbcType=TINYINT},
      video_length = #{record.videoLength,jdbcType=VARCHAR},
      video_vid = #{record.videoVid,jdbcType=VARCHAR},
      video_oas_id = #{record.videoOasId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.roncoo.education.course.service.dao.impl.mapper.entity.CourseVideo" >
    update course_video
    <set >
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        status_id = #{statusId,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
      <if test="chapterId != null" >
        chapter_id = #{chapterId,jdbcType=BIGINT},
      </if>
      <if test="periodId != null" >
        period_id = #{periodId,jdbcType=BIGINT},
      </if>
      <if test="videoName != null" >
        video_name = #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoNo != null" >
        video_no = #{videoNo,jdbcType=BIGINT},
      </if>
      <if test="videoStatus != null" >
        video_status = #{videoStatus,jdbcType=TINYINT},
      </if>
      <if test="videoLength != null" >
        video_length = #{videoLength,jdbcType=VARCHAR},
      </if>
      <if test="videoVid != null" >
        video_vid = #{videoVid,jdbcType=VARCHAR},
      </if>
      <if test="videoOasId != null" >
        video_oas_id = #{videoOasId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.roncoo.education.course.service.dao.impl.mapper.entity.CourseVideo" >
    update course_video
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status_id = #{statusId,jdbcType=TINYINT},
      sort = #{sort,jdbcType=INTEGER},
      course_id = #{courseId,jdbcType=BIGINT},
      chapter_id = #{chapterId,jdbcType=BIGINT},
      period_id = #{periodId,jdbcType=BIGINT},
      video_name = #{videoName,jdbcType=VARCHAR},
      video_no = #{videoNo,jdbcType=BIGINT},
      video_status = #{videoStatus,jdbcType=TINYINT},
      video_length = #{videoLength,jdbcType=VARCHAR},
      video_vid = #{videoVid,jdbcType=VARCHAR},
      video_oas_id = #{videoOasId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>