<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roncoo.education.course.dao.impl.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.roncoo.education.course.dao.impl.mapper.entity.Resource">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status_id" jdbcType="TINYINT" property="statusId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="recource_name" jdbcType="VARCHAR" property="recourceName" />
    <result column="recource_type" jdbcType="TINYINT" property="recourceType" />
    <result column="recource_size" jdbcType="BIGINT" property="recourceSize" />
    <result column="recource_url" jdbcType="VARCHAR" property="recourceUrl" />
    <result column="video_status" jdbcType="TINYINT" property="videoStatus" />
    <result column="video_length" jdbcType="VARCHAR" property="videoLength" />
    <result column="video_vid" jdbcType="VARCHAR" property="videoVid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, status_id, sort, recource_name, recource_type, recource_size, 
    recource_url, video_status, video_length, video_vid
  </sql>
  <select id="selectByExample" parameterType="com.roncoo.education.course.dao.impl.mapper.entity.ResourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0">
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from resource
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from resource
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.roncoo.education.course.dao.impl.mapper.entity.ResourceExample">
    delete from resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.roncoo.education.course.dao.impl.mapper.entity.Resource">
    insert into resource (id, gmt_create, gmt_modified, 
      status_id, sort, recource_name, 
      recource_type, recource_size, recource_url, 
      video_status, video_length, video_vid
      )
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{statusId,jdbcType=TINYINT}, #{sort,jdbcType=INTEGER}, #{recourceName,jdbcType=VARCHAR}, 
      #{recourceType,jdbcType=TINYINT}, #{recourceSize,jdbcType=BIGINT}, #{recourceUrl,jdbcType=VARCHAR}, 
      #{videoStatus,jdbcType=TINYINT}, #{videoLength,jdbcType=VARCHAR}, #{videoVid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.roncoo.education.course.dao.impl.mapper.entity.Resource">
    insert into resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="statusId != null">
        status_id,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="recourceName != null">
        recource_name,
      </if>
      <if test="recourceType != null">
        recource_type,
      </if>
      <if test="recourceSize != null">
        recource_size,
      </if>
      <if test="recourceUrl != null">
        recource_url,
      </if>
      <if test="videoStatus != null">
        video_status,
      </if>
      <if test="videoLength != null">
        video_length,
      </if>
      <if test="videoVid != null">
        video_vid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null">
        #{statusId,jdbcType=TINYINT},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="recourceName != null">
        #{recourceName,jdbcType=VARCHAR},
      </if>
      <if test="recourceType != null">
        #{recourceType,jdbcType=TINYINT},
      </if>
      <if test="recourceSize != null">
        #{recourceSize,jdbcType=BIGINT},
      </if>
      <if test="recourceUrl != null">
        #{recourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoStatus != null">
        #{videoStatus,jdbcType=TINYINT},
      </if>
      <if test="videoLength != null">
        #{videoLength,jdbcType=VARCHAR},
      </if>
      <if test="videoVid != null">
        #{videoVid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.roncoo.education.course.dao.impl.mapper.entity.ResourceExample" resultType="java.lang.Integer">
    select count(*) from resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update resource
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusId != null">
        status_id = #{record.statusId,jdbcType=TINYINT},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.recourceName != null">
        recource_name = #{record.recourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.recourceType != null">
        recource_type = #{record.recourceType,jdbcType=TINYINT},
      </if>
      <if test="record.recourceSize != null">
        recource_size = #{record.recourceSize,jdbcType=BIGINT},
      </if>
      <if test="record.recourceUrl != null">
        recource_url = #{record.recourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.videoStatus != null">
        video_status = #{record.videoStatus,jdbcType=TINYINT},
      </if>
      <if test="record.videoLength != null">
        video_length = #{record.videoLength,jdbcType=VARCHAR},
      </if>
      <if test="record.videoVid != null">
        video_vid = #{record.videoVid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update resource
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      status_id = #{record.statusId,jdbcType=TINYINT},
      sort = #{record.sort,jdbcType=INTEGER},
      recource_name = #{record.recourceName,jdbcType=VARCHAR},
      recource_type = #{record.recourceType,jdbcType=TINYINT},
      recource_size = #{record.recourceSize,jdbcType=BIGINT},
      recource_url = #{record.recourceUrl,jdbcType=VARCHAR},
      video_status = #{record.videoStatus,jdbcType=TINYINT},
      video_length = #{record.videoLength,jdbcType=VARCHAR},
      video_vid = #{record.videoVid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.roncoo.education.course.dao.impl.mapper.entity.Resource">
    update resource
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null">
        status_id = #{statusId,jdbcType=TINYINT},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="recourceName != null">
        recource_name = #{recourceName,jdbcType=VARCHAR},
      </if>
      <if test="recourceType != null">
        recource_type = #{recourceType,jdbcType=TINYINT},
      </if>
      <if test="recourceSize != null">
        recource_size = #{recourceSize,jdbcType=BIGINT},
      </if>
      <if test="recourceUrl != null">
        recource_url = #{recourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoStatus != null">
        video_status = #{videoStatus,jdbcType=TINYINT},
      </if>
      <if test="videoLength != null">
        video_length = #{videoLength,jdbcType=VARCHAR},
      </if>
      <if test="videoVid != null">
        video_vid = #{videoVid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.roncoo.education.course.dao.impl.mapper.entity.Resource">
    update resource
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status_id = #{statusId,jdbcType=TINYINT},
      sort = #{sort,jdbcType=INTEGER},
      recource_name = #{recourceName,jdbcType=VARCHAR},
      recource_type = #{recourceType,jdbcType=TINYINT},
      recource_size = #{recourceSize,jdbcType=BIGINT},
      recource_url = #{recourceUrl,jdbcType=VARCHAR},
      video_status = #{videoStatus,jdbcType=TINYINT},
      video_length = #{videoLength,jdbcType=VARCHAR},
      video_vid = #{videoVid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>