@charset "utf-8";
/* CSS Document */

/*共用样式-------------------start*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
	form, fieldset, legend, input, textarea, p, blockquote, th, td, hr,
	button, lable, button, dd, div, dl, dt, form, img, input, p, td, th {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	background: #fff;
	color: #333;
	font: 12px/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica Neue,
		Helvetica, Hiragino Sans GB, tahoma, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 500;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #1194d3;
}

img {
	border: 0;
}
/*共用样式-------------------end*/
body {
	background: #01b0e9;
}

.info {
	color: red;
	margin: -10px 0 0 35px;
	height: 20px;
}

.code {
	float: left;
	height: 35px;
	margin-left: 10px;
}

.login_con {
	width: 984px;
	height: 466px;
	background: url(../images/bg.png) no-repeat;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.login_con .login_con_r {
	width: 270px;
	height: 320px;
	float: right;
	margin: 50px 150px 0 0;
}

.login_con_r h6 {
	font-size: 16px;
	font-weight: 700;
	padding-left: 35px;
	position: relative;
}

.login_con_r h6 i {
	width: 25px;
	height: 24px;
	display: inline-block;
	background: url(../images/icon1.png) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

.login_from {
	margin-top: 20px;
}

.login_from li {
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}

.login_from li i {
	width: 20px;
	height: 20px;
	display: inline-block;
	position: absolute;
	top: 12px;
	left: 10px;
}

.login_from li input, .login_from li select {
	width: 233px;
	height: 40px;
	color: #333;
	border: 1px solid #e7e7e7;
	border-radius: 25px;
	padding-left: 35px;
	outline: none;
}

.login_from li select {
	width: 270px;
}

.login_from li:first-child i {
	background: url(../images/icon2.png) no-repeat;
}

.login_from li:nth-child(2) i {
	background: url(../images/icon3.png) no-repeat;
}

.login_from li:nth-child(3) i {
	background: url(../images/icon4.png) no-repeat;
}

.login_from li:nth-child(4) i {
	background: url(../images/icon5.png) no-repeat;
}

.login_from li:nth-child(4) input {
	width: 120px;
	float: left;
}

.login_from li .yanzheng {
	width: 95px;
	height: 40px;
	background: #eee;
	border-radius: 5px;
	float: right;
}

.login_from .login_btn {
	margin-bottom: 0;
	margin-top: 15px;
}

.login_from .login_btn input {
	width: 100%;
	padding-left: 0;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #01b0e9;
	cursor: pointer;
	outline: none;
}

.login_from .login_btn input:hover {
	background: #00a7de;
}

.copyright {
	font-size: 14px;
	color: #fff;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	bottom: 5%;
}

.login_from .codename {
	width: 100px;
	float: left;
}