<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="springApplicationName" source="spring.application.name" defaultValue="education"/>
    <springProperty name="FILENAME" source="management.endpoint.logfile.external-file" defaultValue="/tmp/education/info.log"/>
    <springProperty name="FILEMAXHISTORY" source="logging.logback.rollingpolicy.max-history" defaultValue="7"/>
    <springProperty name="PATTERNFILE" source="logging.pattern.file" defaultValue="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -|   %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERNFILE}</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILENAME}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FILENAME}.%d{yyyy-MM-dd}</fileNamePattern>
            <MaxHistory>${FILEMAXHISTORY}</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${PATTERNFILE}</pattern>
        </layout>
    </appender>

    <!-- 环境 -->
    <springProfile name="!local">
        <logger name="com.roncoo.education" level="warn"/>
        <root level="warn">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <!-- 本地环境 -->
    <springProfile name="local">
        <logger name="com.roncoo.education" level="debug"/>
        <logger name="org.springframework.jdbc.core.JdbcTemplate" level="debug"/>
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- 开发测试环境 -->
    <springProfile name="dev">
        <logger name="com.roncoo.education" level="debug"/>
        <logger name="org.springframework.jdbc.core.JdbcTemplate" level="debug"/>
        <root level="info">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>
