@charset "utf-8";
body{background:#fff;}
a{color:#225b16; text-decoration:none;}
a:hover{color:#0f4c0f; text-decoration:underline;}
fieldset{border-color:#b5d2b5;}
/* ------------- bootstrap ------------- */
.btn-default{border-color:#b5d2b5;}
.btn-default.selectpicker{background-color:#fff;}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default{background-color:#e8f6e8;}
.btn-close, .btn-red, .btn-blue, .btn-green, .btn-blue, .btn-orange{background:#f5fdf5;}
.dropdown-menu > li.active > a,
.dropdown-menu > li.active > a:hover,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{color:#262626; text-decoration:none; background-color:#eef4ee;}
.form-control{color:#0f4c0f; background-color:#ffffff; background-image:none; border:1px solid #cccccc;}
.form-control:focus{border-color:#0f4c0f; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(62,153,62, 0.6); box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(62,153,62, 0.6);}
.panel-main .panel-heading a:hover{color:#0f4c0f;}
.panel-main .panel-heading:hover{color:#0f4c0f; background-color:#FFF; border-left-color:#0f4c0f;}
.panel-main .panel-heading.active{color:#0f4c0f; background-color:#FFF; border-left-color:#0f4c0f;}
.nav-tabs{border-bottom-color:#b5d2b5;}
.nav-tabs > li > a{background-color:#f5fdf5; border-bottom-color:#b5d2b5;}
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{border-color:#b5d2b5; border-bottom-color:#FFF;}
.tab-content{border-color:#b5d2b5;}
.table > thead > tr > th{background:#f9f9f9; border-bottom-color:#b5d2b5;}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th{background-color:#eef4ee;}
.table > thead > tr > th.orderby a.order{color:#CCC;}
.table > thead > tr > th.orderby.asc a.order.asc{color:#225b16;}
.table > thead > tr > th.orderby.desc a.order.desc{color:#225b16;}
.table > thead > tr > th.orderby a.order:hover{color:#FFF!important; background:#225b16;}
.table > tbody > tr.selected > td{background-color:#E5F3E5;}
/* Main */
#bjui-header{background:#b5d2b5 url(topbg.png); border-bottom:2px #225b16 solid;}
#bjui-header > .bjui-navbar-header > .bjui-navbar-toggle:focus,
#bjui-header > .bjui-navbar-header > .bjui-navbar-toggle:hover{background:#225b16;}
#bjui-header > #bjui-navbar-collapse > .bjui-navbar-right > li{border-right:1px #70a370 solid;}
#bjui-header > #bjui-navbar-collapse > .bjui-navbar-right > li > a:hover{background:#225b16;}
#bjui-hnav #bjui-hnav-navbar > li{background-color:#eef4ee; border-top:1px #fff solid; border-right:1px #ccc solid; border-left:1px #f5fdf5 solid;}
#bjui-hnav #bjui-hnav-navbar > li:hover{background-color:#f5fdf5;}
#bjui-hnav #bjui-hnav-navbar > li.open > a{color:#fff !important;}
#bjui-hnav #bjui-hnav-navbar > li.active a{color:#fff; -webkit-transition:none; -moz-transition:none; -o-transition:none; transition:none;}
#bjui-hnav #bjui-hnav-navbar > li:hover a{color:#222; -webkit-transition:none; -moz-transition:none; -o-transition:none; transition:none;}
#bjui-hnav #bjui-hnav-navbar > li.open,
#bjui-hnav #bjui-hnav-navbar > li.open:hover,
#bjui-hnav #bjui-hnav-navbar > li.active,
#bjui-hnav #bjui-hnav-navbar > li.active:hover{background-color:#225b16; border-color:#225b16;}
#bjui-sidebar.shadown{box-shadow:2px 0 5px rgba(62, 153, 62, 0.5);}
#bjui-sidebar{background:#fafafa; border-color:#b5d2b5; border-bottom:1px #b5d2b5 solid;}
#bjui-sidebar > .toggleCollapse{background:#eef4ee;}
#bjui-sidebar > .toggleCollapse .lock{color:#225b16; background:#eef4ee;}
#bjui-sidebar > .toggleCollapse .lock:hover{color:#f5fdf5; background:#225b16;}
#bjui-sidebar-s > .collapse{background:#f5fdf5; border:1px #b5d2b5 solid;}
#bjui-sidebar-s > .collapse:hover{background:#225b16; border-color:#225b16;}
#bjui-splitBar{background:#f5fdf5;}
#bjui-splitBarProxy{border-color:#c0c0c0; background:#f5fdf5;}
/* Left menus */
.menu-items li > a{color:#222;}
.menu-items li > a:hover{background-color:#f5fdf5;}
.menu-items li.active{background-color:#fafafa;}
.menu-items li.active > a{color:#222;}
.menu-items li.active.switch > a{font-weight:bold; background-color:#E5F3E5;}
.menu-items li.open > a{color:#225b16;}
/* Pages */
.bjui-pageHeader{background:#eef4ee; border-bottom:1px #b5d2b5 solid;}
.bjui-pageHeader .bjui-moreSearch{background:#f5fdf5; border-bottom:1px #b5d2b5 solid;}
.bjui-pageHeader .showMoreSearch:hover{color:#225b16;}
.bjui-pageFooter{background:#eef4ee; border-top:1px #b5d2b5 solid;}
.bjui-pageFooter > .pagination-box > ul > .selected > a,
.bjui-pageFooter > .pagination-box > ul > .selected > span{color:#ffffff; background-color:#b5d2b5; border-color:#eef4ee;}
/* MaskProgress */
.bjui-maskProgress{color:#0f4c0f; background:#FAFAFA; border:2px solid #b5d2b5;}
/* Navtab */
#bjui-navtab > .tabsPageHeader > .tabsLeft,
#bjui-navtab > .tabsPageHeader > .tabsRight,
#bjui-navtab > .tabsPageHeader > .tabsMore{background-color:#f5fdf5; border:1px #b5d2b5 solid;}
#bjui-navtab > .tabsPageHeader > .tabsLeft:hover,
#bjui-navtab > .tabsPageHeader > .tabsRight:hover,
#bjui-navtab > .tabsPageHeader > .tabsMore:hover{color:#f5fdf5; background-color:#0f4c0f;}
#bjui-navtab > .tabsPageHeader > .tabsLeft.tabsLeftDisabled,
#bjui-navtab > .tabsPageHeader > .tabsRight.tabsRightDisabled{color:#999; border-color:#b5d2b5; border-bottom-color:#b5d2b5;}
#bjui-navtab > .tabsPageHeader > .tabsLeft.tabsLeftDisabled:hover,
#bjui-navtab > .tabsPageHeader > .tabsRight.tabsRightDisabled:hover{background:#f5fdf5;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav{border-bottom-color:#b5d2b5;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li > a{color:#0f4c0f; background-color:#f5fdf5; border-color:#eee; border-bottom-color:#b5d2b5;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li > a:hover{color:#0f4c0f; background:#eef4ee; border-color:#b5d2b5; border-bottom-color:transparent;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li.active > a{color:#0f4c0f; font-weight:bold; background:#FFF; border-color:#b5d2b5; border-bottom-color:transparent;}
#bjui-navtab > .tabsMoreList{background:#f5fdf5; border-color:#b5d2b5;}
#bjui-navtab > .tabsMoreList > li > a:hover{color:#0f4c0f; background:#eef4ee;}
#bjui-navtab > .tabsMoreList > li.active > a{font-weight:bold; background:#eef4ee;}
#bjui-navtab > .tabsPageContent{background:#fefefe; border-color:#b5d2b5;}
/* Dialog */
.bjui-dialog{background:#f5fdf5; border:1px #DDD solid;}
.bjui-dialog.dialogShadow{-webkit-box-shadow:0 3px 9px rgba(62,153,62, 0.9); box-shadow:0 3px 9px rgba(62,153,62, 0.9);}
.bjui-dialog > .dialogHeader{background:#eef4ee; border-bottom:1px #b5d2b5 solid;}
.bjui-dialog > .dialogHeader a{color:#0f4c0f !important;}
.bjui-dialog > .dialogHeader a:hover{color:#225b16 !important;}
.bjui-dialog > .dialogHeader h1{color:#0f4c0f;}
.bjui-dialog > .dialogContent .bjui-pageHeader{margin-bottom:0; border:1px #b5d2b5 solid; border-bottom:none;}
.bjui-dialog > .dialogContent .bjui-pageContent{background-color:#fff; border:1px #b5d2b5 solid;}
.bjui-dialog > .dialogContent .bjui-pageFooter{border:1px #b5d2b5 solid; border-top:none;}
/* Dialog resizable */
.bjui-resizable{border-color:#b5d2b5; background:#f5fdf5;}
/* Taskbar */
#bjui-taskbar{background:#0f4c0f;}
#bjui-taskbar > .taskbarContent > ul > li{background:#f5fdf5;}
#bjui-taskbar > .taskbarContent > ul > li > .taskbutton{color:#0f4c0f;}
#bjui-taskbar > .taskbarContent > ul > li.selected,
#bjui-taskbar > .taskbarContent > ul > li:hover{background:#eef4ee;}
#bjui-taskbar > .taskbarContent > ul > li.selected > .taskbutton,
#bjui-taskbar > .taskbarContent > ul > li:hover > .taskbutton{color:#225b16;}
#bjui-taskbar > .taskbarContent > ul > li > .close{color:#b5d2b5;}
#bjui-taskbar > .taskbarContent > ul > li > .close:hover{color:#FF0000;}
#bjui-taskbar > .taskbarLeft, #bjui-taskbar > .taskbarRight{background:#f5fdf5;}
#bjui-taskbar > .taskbarLeft:hover,
#bjui-taskbar > .taskbarRight:hover{color:#FFF; background:#0f4c0f;}
#bjui-taskbar > .taskbarLeft.disabled,
#bjui-taskbar > .taskbarRight.disabled{color:#999; background:#f5fdf5;}
#bjui-taskbar > .taskbarLeft.disabled:hover,
#bjui-taskbar > .taskbarRight.disabled:hover{color:#999; background:#f5fdf5;}
/*  datagrid */
.bjui-datagrid .datagrid-title{color:#0f4c0f; background-color:#eef4ee;}
.bjui-datagrid .datagrid-toolbar{background-color:#f5fdf5;}
.bjui-datagrid .table > thead > tr > th:first-child{border-left-color:#f5fdf5;}
.bjui-datagrid .datagrid-box-h{background-color:#f9f9f9; border-bottom-color:#b5d2b5;}
.bjui-datagrid .datagrid-box-f{background-color:#f9f9f9;}
.bjui-datagrid .datagrid-box-f .table > thead > tr > th .datagrid-calcbox{color:#225b16; background-color:#eef4ee;}
.bjui-datagrid .table > tbody > tr > td.datagrid-linenumber-td{color:#225b16;}
.bjui-datagrid .table.table-hover > tbody > tr:hover > td.datagrid-linenumber-td{background-color:#eef4ee;}
.bjui-datagrid .table > tbody > tr.datagrid-hover > td{background-color:#eef4ee;}
.bjui-datagrid .table > thead > tr > th > div > .datagrid-cell > .datagrid-column-menu-btn > .btn.active,
.bjui-datagrid .table > thead > tr > th > div > .datagrid-cell > .datagrid-column-menu-btn > .btn:hover,
.bjui-datagrid .table > thead > tr > th:hover > div > .datagrid-cell > .datagrid-column-menu-btn > .btn:hover,
.bjui-datagrid .table > thead > tr > th > div > .datagrid-cell > .datagrid-column-menu-btn > .btn:focus{background-color:#225b16;}
.bjui-datagrid .table > thead > tr > th:hover > div > .datagrid-cell > .datagrid-column-menu-btn > .btn{color:#225b16;}
.bjui-datagrid .table > thead > tr > th.filter-active > div > .datagrid-cell > .datagrid-column-menu-btn > .btn{background-color:#225b16;}
.bjui-datagrid .table > thead > tr > th.datagrid-quicksort-th:hover{background-color:#eef4ee;}
.bjui-datagrid .table > thead > tr > th.datagrid-quicksort-th > div > .datagrid-label > i{color:#225b16;}
.bjui-datagrid > .datagrid-menu-box > ul > li > a{color:#0f4c0f;}
.bjui-datagrid > .datagrid-menu-box > ul > li.sort-active a{color:#225b16;}
.bjui-datagrid > .datagrid-menu-box > ul > li > a:hover,
.bjui-datagrid > .datagrid-menu-box > ul > li.active > a{background-color:#b5d2b5;}
.bjui-datagrid .datagrid-filter-box fieldset > span input{border-color:#b5d2b5;}
.datagrid-showhide-box > li > a{color:#0f4c0f;}
.datagrid-showhide-box > li > a:hover{background-color:#b5d2b5;}
.bjui-datagrid .table > thead > tr > th.datagrid-sortable:hover a:hover{background-color:#225b16;}
.bjui-datagrid .table > tbody > tr.datagrid-selected-tr > td{background-color:#e7eee7 !important;}
.bjui-datagrid > .datagrid-paging-box{background-color:#f9f9f9; border-top:1px #b5d2b5 solid;}
.bjui-datagrid > .datagrid-paging-box > .paging-content > .datagrid-paging > .pagination > li.active > a,
.bjui-datagrid > .datagrid-paging-box > .paging-content > .datagrid-paging > .pagination > li.active > a:focus,
.bjui-datagrid > .datagrid-paging-box > .paging-content > .datagrid-paging > .pagination > li.active > a:hover{background-color:#b5d2b5;}
.bjui-datagrid > .resizeProxy{background-color:#225b16;}
.datagrid-dialog-edit-form > p:hover{background-color:#f5fdf5;}
/* Tablefixed */
.bjui-tablefixed > .resizeMarker,
.bjui-tablefixed > .resizeProxy{background:#b5d2b5;}
/* Tabledit */
.bjui-tabledit > thead .row-add:hover{color:#FFF; background:#0f4c0f;}
/* Alertmsg */
.bjui-alert{background:#fafafa;}
.bjui-alert > .alertContent .alertInner > .msg{border-top: 1px #fefefe solid;}
.bjui-alert > .alertContent > .info > .alertInner{border-color:#b5d2b5;}
.bjui-alert > .alertContent > .info > .alertInner > h1{color:#0f4c0f; background-color:#f5fdf5; border-bottom:1px #b5d2b5 solid;}
/* Contextmenu */
#bjui-contextmenu ul{background-color:#f5fdf5; border:1px solid #b5d2b5;}
#bjui-contextmenu li{color:#0f4c0f; background-color:transparent;}
#bjui-contextmenu li:hover{color:#fff; background-color:#b5d2b5;}
#bjui-contextmenu li.disabled{color:#999;}
#bjui-contextmenu li.disabled:hover{cursor:default; background-color:transparent;}
#bjui-contextmenu li.diver{ border-left:none; border-right:none;}
#bjui-contextmenu li.diver:hover{background-color:transparent !important; cursor:default;}
/* Calendar */
#bjui-calendar{border:1px solid #b5d2b5;}
#bjui-calendar > .main > a.close{color:#b5d2b5;}
#bjui-calendar > .main > a.close:hover{color:#FF0000;}
#bjui-calendar > .main > .head{background:#eef4ee; border:1px solid #e3dced;}
#bjui-calendar > .main > .body{border:1px solid #e3dced;}
#bjui-calendar > .main > .foot{background:#f5fdf5; border:1px solid #e3dced;}
#bjui-calendar > .main > .body > .days > dd.slt{background:#eef4ee; border:1px solid #b5d2b5;}
#bjui-calendar > .main > .body > .days > dd:hover{border:1px solid #b5d2b5;}
#bjui-calendar > .main > .body > .days > dd.other{color:#b5d2b5;}
#bjui-calendar > .main > .foot > .time td{border:1px solid #b5d2b5;}
#bjui-calendar > .main > .foot > .time .up:hover,
#bjui-calendar > .main > .foot > .time .down:hover{color:#FFF; background:#0f4c0f;}
#bjui-calendar > .main > .tm > ul{background-color:#f5fdf5; border:1px solid #b5d2b5;}
#bjui-calendar > .main > .tm > ul > li:hover{background:#eef4ee;}
/* Spinner */
.bjui-spinner{border-left-color:#ccc;}
.bjui-spinner .up, .bjui-spinner .down{color:#225b16;}
.bjui-spinner .up:hover, .bjui-spinner .down:hover{color:#FFF; background:#0f4c0f;}
/* Lookup */
.bjui-lookup:hover{color:#FFF; background:#0f4c0f;}
/* Tags */
.bjui-tags > .label-tag{color:#b5d2b5; background-color:#f5fdf5;}
.bjui-tags > .label-tag:hover,
.bjui-tags > .label-tag:focus{background-color:#eef4ee;}
.bjui-tags > .tags-menu > .tags-highlight{background-color:#eef4ee;}
/* Upload */
.bjui-upload > .queue > .item{background-color:#f5fdf5;}

/* ------- plugins ------- */
/* iCheck */
.icheckbox_minimal-purple,
.iradio_minimal-purple{background:url(purple.png) no-repeat;}
.icheckbox_minimal-purple{background-position:0 0;} .icheckbox_minimal-purple.hover{background-position:-20px 0;} .icheckbox_minimal-purple.checked{background-position:-40px 0;} .icheckbox_minimal-purple.disabled{background-position:-60px 0; cursor:default;} .icheckbox_minimal-purple.checked.disabled{background-position:-80px 0;}
.iradio_minimal-purple{background-position:-100px 0;} .iradio_minimal-purple.hover{background-position:-120px 0;} .iradio_minimal-purple.checked{background-position:-140px 0;} .iradio_minimal-purple.disabled{background-position:-160px 0; cursor:default;} .iradio_minimal-purple.checked.disabled{background-position:-180px 0;}
/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (-moz-min-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5){.icheckbox_minimal-purple, .iradio_minimal-purple{background-image:url(purple@2x.png); -webkit-background-size:200px 20px; background-size:200px 20px;}}
/* zTree */
.ztree li a.faicon{color:#0f4c0f;}
.ztree li a:hover{color:#225b16;}
span.tmpzTreeMove_arrow,.ztree .tree_add, .ztree .tree_del,
.ztree li span.button{background-image:url(zTreeStandard.png);}
.ztree li a.curSelectedNode{background-color:#eef4ee; color:black; border:1px #b5d2b5 solid;}
.ztree li a.curSelectedNode_Edit{background-color:#eef4ee; color:black; border:1px #b5d2b5 solid;}
.ztree li a.tmpTargetNode_inner{background-color:#eef4ee; color:white; border:1px #b5d2b5 solid;}
ul.ztree.zTreeDragUL{background-color:#cfcfcf; border:1px #b5d2b5 dotted;}
ul.tmpTargetzTree{background-color:#eef4ee;}
/* uploadify */
.uploadify-button{color:#0f4c0f !important; background-color:#f5fdf5 !important; border-color:#b5d2b5 !important;}
.uploadify:hover .uploadify-button{color:#FFF !important; background-color:#b5d2b5 !important; border-color:#b5d2b5 !important;}