<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roncoo.education.user.service.dao.impl.mapper.LecturerAuditMapper" >
  <resultMap id="BaseResultMap" type="com.roncoo.education.user.service.dao.impl.mapper.entity.LecturerAudit" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="status_id" property="statusId" jdbcType="TINYINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="audit_status" property="auditStatus" jdbcType="TINYINT" />
    <result column="audit_opinion" property="auditOpinion" jdbcType="VARCHAR" />
    <result column="lecturer_user_no" property="lecturerUserNo" jdbcType="BIGINT" />
    <result column="lecturer_name" property="lecturerName" jdbcType="VARCHAR" />
    <result column="lecturer_mobile" property="lecturerMobile" jdbcType="CHAR" />
    <result column="lecturer_email" property="lecturerEmail" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="head_img_url" property="headImgUrl" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="lecturer_proportion" property="lecturerProportion" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_create, gmt_modified, status_id, sort, audit_status, audit_opinion, lecturer_user_no, 
    lecturer_name, lecturer_mobile, lecturer_email, position, head_img_url, introduce, 
    lecturer_proportion
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.LecturerAuditExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lecturer_audit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from lecturer_audit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from lecturer_audit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.LecturerAuditExample" >
    delete from lecturer_audit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.LecturerAudit" >
    insert into lecturer_audit (id, gmt_create, gmt_modified, 
      status_id, sort, audit_status, 
      audit_opinion, lecturer_user_no, lecturer_name, 
      lecturer_mobile, lecturer_email, position, 
      head_img_url, introduce, lecturer_proportion
      )
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{statusId,jdbcType=TINYINT}, #{sort,jdbcType=INTEGER}, #{auditStatus,jdbcType=TINYINT}, 
      #{auditOpinion,jdbcType=VARCHAR}, #{lecturerUserNo,jdbcType=BIGINT}, #{lecturerName,jdbcType=VARCHAR}, 
      #{lecturerMobile,jdbcType=CHAR}, #{lecturerEmail,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{headImgUrl,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, #{lecturerProportion,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.LecturerAudit" >
    insert into lecturer_audit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="statusId != null" >
        status_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="auditOpinion != null" >
        audit_opinion,
      </if>
      <if test="lecturerUserNo != null" >
        lecturer_user_no,
      </if>
      <if test="lecturerName != null" >
        lecturer_name,
      </if>
      <if test="lecturerMobile != null" >
        lecturer_mobile,
      </if>
      <if test="lecturerEmail != null" >
        lecturer_email,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="headImgUrl != null" >
        head_img_url,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="lecturerProportion != null" >
        lecturer_proportion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=TINYINT},
      </if>
      <if test="auditOpinion != null" >
        #{auditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="lecturerUserNo != null" >
        #{lecturerUserNo,jdbcType=BIGINT},
      </if>
      <if test="lecturerName != null" >
        #{lecturerName,jdbcType=VARCHAR},
      </if>
      <if test="lecturerMobile != null" >
        #{lecturerMobile,jdbcType=CHAR},
      </if>
      <if test="lecturerEmail != null" >
        #{lecturerEmail,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null" >
        #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="lecturerProportion != null" >
        #{lecturerProportion,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.LecturerAuditExample" resultType="java.lang.Integer" >
    select count(*) from lecturer_audit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lecturer_audit
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusId != null" >
        status_id = #{record.statusId,jdbcType=TINYINT},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.auditStatus != null" >
        audit_status = #{record.auditStatus,jdbcType=TINYINT},
      </if>
      <if test="record.auditOpinion != null" >
        audit_opinion = #{record.auditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="record.lecturerUserNo != null" >
        lecturer_user_no = #{record.lecturerUserNo,jdbcType=BIGINT},
      </if>
      <if test="record.lecturerName != null" >
        lecturer_name = #{record.lecturerName,jdbcType=VARCHAR},
      </if>
      <if test="record.lecturerMobile != null" >
        lecturer_mobile = #{record.lecturerMobile,jdbcType=CHAR},
      </if>
      <if test="record.lecturerEmail != null" >
        lecturer_email = #{record.lecturerEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.position != null" >
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.headImgUrl != null" >
        head_img_url = #{record.headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.introduce != null" >
        introduce = #{record.introduce,jdbcType=VARCHAR},
      </if>
      <if test="record.lecturerProportion != null" >
        lecturer_proportion = #{record.lecturerProportion,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lecturer_audit
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      status_id = #{record.statusId,jdbcType=TINYINT},
      sort = #{record.sort,jdbcType=INTEGER},
      audit_status = #{record.auditStatus,jdbcType=TINYINT},
      audit_opinion = #{record.auditOpinion,jdbcType=VARCHAR},
      lecturer_user_no = #{record.lecturerUserNo,jdbcType=BIGINT},
      lecturer_name = #{record.lecturerName,jdbcType=VARCHAR},
      lecturer_mobile = #{record.lecturerMobile,jdbcType=CHAR},
      lecturer_email = #{record.lecturerEmail,jdbcType=VARCHAR},
      position = #{record.position,jdbcType=VARCHAR},
      head_img_url = #{record.headImgUrl,jdbcType=VARCHAR},
      introduce = #{record.introduce,jdbcType=VARCHAR},
      lecturer_proportion = #{record.lecturerProportion,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.LecturerAudit" >
    update lecturer_audit
    <set >
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        status_id = #{statusId,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=TINYINT},
      </if>
      <if test="auditOpinion != null" >
        audit_opinion = #{auditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="lecturerUserNo != null" >
        lecturer_user_no = #{lecturerUserNo,jdbcType=BIGINT},
      </if>
      <if test="lecturerName != null" >
        lecturer_name = #{lecturerName,jdbcType=VARCHAR},
      </if>
      <if test="lecturerMobile != null" >
        lecturer_mobile = #{lecturerMobile,jdbcType=CHAR},
      </if>
      <if test="lecturerEmail != null" >
        lecturer_email = #{lecturerEmail,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null" >
        head_img_url = #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="lecturerProportion != null" >
        lecturer_proportion = #{lecturerProportion,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.LecturerAudit" >
    update lecturer_audit
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status_id = #{statusId,jdbcType=TINYINT},
      sort = #{sort,jdbcType=INTEGER},
      audit_status = #{auditStatus,jdbcType=TINYINT},
      audit_opinion = #{auditOpinion,jdbcType=VARCHAR},
      lecturer_user_no = #{lecturerUserNo,jdbcType=BIGINT},
      lecturer_name = #{lecturerName,jdbcType=VARCHAR},
      lecturer_mobile = #{lecturerMobile,jdbcType=CHAR},
      lecturer_email = #{lecturerEmail,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      head_img_url = #{headImgUrl,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      lecturer_proportion = #{lecturerProportion,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>