<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roncoo.education.system.service.dao.impl.mapper.MsgUserMapper" >
  <resultMap id="BaseResultMap" type="com.roncoo.education.system.service.dao.impl.mapper.entity.MsgUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="status_id" property="statusId" jdbcType="TINYINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="msg_id" property="msgId" jdbcType="BIGINT" />
    <result column="user_no" property="userNo" jdbcType="BIGINT" />
    <result column="mobile" property="mobile" jdbcType="CHAR" />
    <result column="msg_type" property="msgType" jdbcType="TINYINT" />
    <result column="msg_title" property="msgTitle" jdbcType="VARCHAR" />
    <result column="is_read" property="isRead" jdbcType="TINYINT" />
    <result column="is_top" property="isTop" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_create, gmt_modified, status_id, sort, msg_id, user_no, mobile, msg_type, 
    msg_title, is_read, is_top
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.MsgUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from msg_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from msg_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from msg_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.MsgUserExample" >
    delete from msg_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.MsgUser" >
    insert into msg_user (id, gmt_create, gmt_modified, 
      status_id, sort, msg_id, 
      user_no, mobile, msg_type, 
      msg_title, is_read, is_top
      )
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{statusId,jdbcType=TINYINT}, #{sort,jdbcType=INTEGER}, #{msgId,jdbcType=BIGINT}, 
      #{userNo,jdbcType=BIGINT}, #{mobile,jdbcType=CHAR}, #{msgType,jdbcType=TINYINT}, 
      #{msgTitle,jdbcType=VARCHAR}, #{isRead,jdbcType=TINYINT}, #{isTop,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.MsgUser" >
    insert into msg_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="statusId != null" >
        status_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="msgId != null" >
        msg_id,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="msgType != null" >
        msg_type,
      </if>
      <if test="msgTitle != null" >
        msg_title,
      </if>
      <if test="isRead != null" >
        is_read,
      </if>
      <if test="isTop != null" >
        is_top,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="msgId != null" >
        #{msgId,jdbcType=BIGINT},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=BIGINT},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="msgType != null" >
        #{msgType,jdbcType=TINYINT},
      </if>
      <if test="msgTitle != null" >
        #{msgTitle,jdbcType=VARCHAR},
      </if>
      <if test="isRead != null" >
        #{isRead,jdbcType=TINYINT},
      </if>
      <if test="isTop != null" >
        #{isTop,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.MsgUserExample" resultType="java.lang.Integer" >
    select count(*) from msg_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update msg_user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusId != null" >
        status_id = #{record.statusId,jdbcType=TINYINT},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.msgId != null" >
        msg_id = #{record.msgId,jdbcType=BIGINT},
      </if>
      <if test="record.userNo != null" >
        user_no = #{record.userNo,jdbcType=BIGINT},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=CHAR},
      </if>
      <if test="record.msgType != null" >
        msg_type = #{record.msgType,jdbcType=TINYINT},
      </if>
      <if test="record.msgTitle != null" >
        msg_title = #{record.msgTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.isRead != null" >
        is_read = #{record.isRead,jdbcType=TINYINT},
      </if>
      <if test="record.isTop != null" >
        is_top = #{record.isTop,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update msg_user
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      status_id = #{record.statusId,jdbcType=TINYINT},
      sort = #{record.sort,jdbcType=INTEGER},
      msg_id = #{record.msgId,jdbcType=BIGINT},
      user_no = #{record.userNo,jdbcType=BIGINT},
      mobile = #{record.mobile,jdbcType=CHAR},
      msg_type = #{record.msgType,jdbcType=TINYINT},
      msg_title = #{record.msgTitle,jdbcType=VARCHAR},
      is_read = #{record.isRead,jdbcType=TINYINT},
      is_top = #{record.isTop,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.MsgUser" >
    update msg_user
    <set >
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        status_id = #{statusId,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="msgId != null" >
        msg_id = #{msgId,jdbcType=BIGINT},
      </if>
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=BIGINT},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="msgType != null" >
        msg_type = #{msgType,jdbcType=TINYINT},
      </if>
      <if test="msgTitle != null" >
        msg_title = #{msgTitle,jdbcType=VARCHAR},
      </if>
      <if test="isRead != null" >
        is_read = #{isRead,jdbcType=TINYINT},
      </if>
      <if test="isTop != null" >
        is_top = #{isTop,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.MsgUser" >
    update msg_user
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status_id = #{statusId,jdbcType=TINYINT},
      sort = #{sort,jdbcType=INTEGER},
      msg_id = #{msgId,jdbcType=BIGINT},
      user_no = #{userNo,jdbcType=BIGINT},
      mobile = #{mobile,jdbcType=CHAR},
      msg_type = #{msgType,jdbcType=TINYINT},
      msg_title = #{msgTitle,jdbcType=VARCHAR},
      is_read = #{isRead,jdbcType=TINYINT},
      is_top = #{isTop,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>