<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roncoo.education.system.service.dao.impl.mapper.WebsiteMapper" >
  <resultMap id="BaseResultMap" type="com.roncoo.education.system.service.dao.impl.mapper.entity.Website" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="status_id" property="statusId" jdbcType="TINYINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="logo_ico" property="logoIco" jdbcType="VARCHAR" />
    <result column="logo_img" property="logoImg" jdbcType="VARCHAR" />
    <result column="website_title" property="websiteTitle" jdbcType="VARCHAR" />
    <result column="website_keyword" property="websiteKeyword" jdbcType="VARCHAR" />
    <result column="website_desc" property="websiteDesc" jdbcType="VARCHAR" />
    <result column="copyright" property="copyright" jdbcType="VARCHAR" />
    <result column="icp" property="icp" jdbcType="VARCHAR" />
    <result column="prn" property="prn" jdbcType="VARCHAR" />
    <result column="weixin" property="weixin" jdbcType="VARCHAR" />
    <result column="weixin_xcx" property="weixinXcx" jdbcType="VARCHAR" />
    <result column="weibo" property="weibo" jdbcType="VARCHAR" />
    <result column="is_enable_statistics" property="isEnableStatistics" jdbcType="TINYINT" />
    <result column="statistics_code" property="statisticsCode" jdbcType="VARCHAR" />
    <result column="is_show_service" property="isShowService" jdbcType="TINYINT" />
    <result column="service1" property="service1" jdbcType="VARCHAR" />
    <result column="service2" property="service2" jdbcType="VARCHAR" />
    <result column="user_agreement" property="userAgreement" jdbcType="VARCHAR" />
    <result column="recruit_title" property="recruitTitle" jdbcType="VARCHAR" />
    <result column="recruit_info" property="recruitInfo" jdbcType="VARCHAR" />
    <result column="entry_agreement" property="entryAgreement" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_create, gmt_modified, status_id, sort, logo_ico, logo_img, website_title, 
    website_keyword, website_desc, copyright, icp, prn, weixin, weixin_xcx, weibo, is_enable_statistics, 
    statistics_code, is_show_service, service1, service2, user_agreement, recruit_title, 
    recruit_info, entry_agreement
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.WebsiteExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from website
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from website
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from website
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.WebsiteExample" >
    delete from website
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.Website" >
    insert into website (id, gmt_create, gmt_modified, 
      status_id, sort, logo_ico, 
      logo_img, website_title, website_keyword, 
      website_desc, copyright, icp, 
      prn, weixin, weixin_xcx, 
      weibo, is_enable_statistics, statistics_code, 
      is_show_service, service1, service2, 
      user_agreement, recruit_title, recruit_info, 
      entry_agreement)
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{statusId,jdbcType=TINYINT}, #{sort,jdbcType=INTEGER}, #{logoIco,jdbcType=VARCHAR}, 
      #{logoImg,jdbcType=VARCHAR}, #{websiteTitle,jdbcType=VARCHAR}, #{websiteKeyword,jdbcType=VARCHAR}, 
      #{websiteDesc,jdbcType=VARCHAR}, #{copyright,jdbcType=VARCHAR}, #{icp,jdbcType=VARCHAR}, 
      #{prn,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR}, #{weixinXcx,jdbcType=VARCHAR}, 
      #{weibo,jdbcType=VARCHAR}, #{isEnableStatistics,jdbcType=TINYINT}, #{statisticsCode,jdbcType=VARCHAR}, 
      #{isShowService,jdbcType=TINYINT}, #{service1,jdbcType=VARCHAR}, #{service2,jdbcType=VARCHAR}, 
      #{userAgreement,jdbcType=VARCHAR}, #{recruitTitle,jdbcType=VARCHAR}, #{recruitInfo,jdbcType=VARCHAR}, 
      #{entryAgreement,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.Website" >
    insert into website
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="statusId != null" >
        status_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="logoIco != null" >
        logo_ico,
      </if>
      <if test="logoImg != null" >
        logo_img,
      </if>
      <if test="websiteTitle != null" >
        website_title,
      </if>
      <if test="websiteKeyword != null" >
        website_keyword,
      </if>
      <if test="websiteDesc != null" >
        website_desc,
      </if>
      <if test="copyright != null" >
        copyright,
      </if>
      <if test="icp != null" >
        icp,
      </if>
      <if test="prn != null" >
        prn,
      </if>
      <if test="weixin != null" >
        weixin,
      </if>
      <if test="weixinXcx != null" >
        weixin_xcx,
      </if>
      <if test="weibo != null" >
        weibo,
      </if>
      <if test="isEnableStatistics != null" >
        is_enable_statistics,
      </if>
      <if test="statisticsCode != null" >
        statistics_code,
      </if>
      <if test="isShowService != null" >
        is_show_service,
      </if>
      <if test="service1 != null" >
        service1,
      </if>
      <if test="service2 != null" >
        service2,
      </if>
      <if test="userAgreement != null" >
        user_agreement,
      </if>
      <if test="recruitTitle != null" >
        recruit_title,
      </if>
      <if test="recruitInfo != null" >
        recruit_info,
      </if>
      <if test="entryAgreement != null" >
        entry_agreement,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="logoIco != null" >
        #{logoIco,jdbcType=VARCHAR},
      </if>
      <if test="logoImg != null" >
        #{logoImg,jdbcType=VARCHAR},
      </if>
      <if test="websiteTitle != null" >
        #{websiteTitle,jdbcType=VARCHAR},
      </if>
      <if test="websiteKeyword != null" >
        #{websiteKeyword,jdbcType=VARCHAR},
      </if>
      <if test="websiteDesc != null" >
        #{websiteDesc,jdbcType=VARCHAR},
      </if>
      <if test="copyright != null" >
        #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="icp != null" >
        #{icp,jdbcType=VARCHAR},
      </if>
      <if test="prn != null" >
        #{prn,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null" >
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="weixinXcx != null" >
        #{weixinXcx,jdbcType=VARCHAR},
      </if>
      <if test="weibo != null" >
        #{weibo,jdbcType=VARCHAR},
      </if>
      <if test="isEnableStatistics != null" >
        #{isEnableStatistics,jdbcType=TINYINT},
      </if>
      <if test="statisticsCode != null" >
        #{statisticsCode,jdbcType=VARCHAR},
      </if>
      <if test="isShowService != null" >
        #{isShowService,jdbcType=TINYINT},
      </if>
      <if test="service1 != null" >
        #{service1,jdbcType=VARCHAR},
      </if>
      <if test="service2 != null" >
        #{service2,jdbcType=VARCHAR},
      </if>
      <if test="userAgreement != null" >
        #{userAgreement,jdbcType=VARCHAR},
      </if>
      <if test="recruitTitle != null" >
        #{recruitTitle,jdbcType=VARCHAR},
      </if>
      <if test="recruitInfo != null" >
        #{recruitInfo,jdbcType=VARCHAR},
      </if>
      <if test="entryAgreement != null" >
        #{entryAgreement,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.WebsiteExample" resultType="java.lang.Integer" >
    select count(*) from website
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update website
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusId != null" >
        status_id = #{record.statusId,jdbcType=TINYINT},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.logoIco != null" >
        logo_ico = #{record.logoIco,jdbcType=VARCHAR},
      </if>
      <if test="record.logoImg != null" >
        logo_img = #{record.logoImg,jdbcType=VARCHAR},
      </if>
      <if test="record.websiteTitle != null" >
        website_title = #{record.websiteTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.websiteKeyword != null" >
        website_keyword = #{record.websiteKeyword,jdbcType=VARCHAR},
      </if>
      <if test="record.websiteDesc != null" >
        website_desc = #{record.websiteDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.copyright != null" >
        copyright = #{record.copyright,jdbcType=VARCHAR},
      </if>
      <if test="record.icp != null" >
        icp = #{record.icp,jdbcType=VARCHAR},
      </if>
      <if test="record.prn != null" >
        prn = #{record.prn,jdbcType=VARCHAR},
      </if>
      <if test="record.weixin != null" >
        weixin = #{record.weixin,jdbcType=VARCHAR},
      </if>
      <if test="record.weixinXcx != null" >
        weixin_xcx = #{record.weixinXcx,jdbcType=VARCHAR},
      </if>
      <if test="record.weibo != null" >
        weibo = #{record.weibo,jdbcType=VARCHAR},
      </if>
      <if test="record.isEnableStatistics != null" >
        is_enable_statistics = #{record.isEnableStatistics,jdbcType=TINYINT},
      </if>
      <if test="record.statisticsCode != null" >
        statistics_code = #{record.statisticsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.isShowService != null" >
        is_show_service = #{record.isShowService,jdbcType=TINYINT},
      </if>
      <if test="record.service1 != null" >
        service1 = #{record.service1,jdbcType=VARCHAR},
      </if>
      <if test="record.service2 != null" >
        service2 = #{record.service2,jdbcType=VARCHAR},
      </if>
      <if test="record.userAgreement != null" >
        user_agreement = #{record.userAgreement,jdbcType=VARCHAR},
      </if>
      <if test="record.recruitTitle != null" >
        recruit_title = #{record.recruitTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.recruitInfo != null" >
        recruit_info = #{record.recruitInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.entryAgreement != null" >
        entry_agreement = #{record.entryAgreement,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update website
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      status_id = #{record.statusId,jdbcType=TINYINT},
      sort = #{record.sort,jdbcType=INTEGER},
      logo_ico = #{record.logoIco,jdbcType=VARCHAR},
      logo_img = #{record.logoImg,jdbcType=VARCHAR},
      website_title = #{record.websiteTitle,jdbcType=VARCHAR},
      website_keyword = #{record.websiteKeyword,jdbcType=VARCHAR},
      website_desc = #{record.websiteDesc,jdbcType=VARCHAR},
      copyright = #{record.copyright,jdbcType=VARCHAR},
      icp = #{record.icp,jdbcType=VARCHAR},
      prn = #{record.prn,jdbcType=VARCHAR},
      weixin = #{record.weixin,jdbcType=VARCHAR},
      weixin_xcx = #{record.weixinXcx,jdbcType=VARCHAR},
      weibo = #{record.weibo,jdbcType=VARCHAR},
      is_enable_statistics = #{record.isEnableStatistics,jdbcType=TINYINT},
      statistics_code = #{record.statisticsCode,jdbcType=VARCHAR},
      is_show_service = #{record.isShowService,jdbcType=TINYINT},
      service1 = #{record.service1,jdbcType=VARCHAR},
      service2 = #{record.service2,jdbcType=VARCHAR},
      user_agreement = #{record.userAgreement,jdbcType=VARCHAR},
      recruit_title = #{record.recruitTitle,jdbcType=VARCHAR},
      recruit_info = #{record.recruitInfo,jdbcType=VARCHAR},
      entry_agreement = #{record.entryAgreement,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.Website" >
    update website
    <set >
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        status_id = #{statusId,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="logoIco != null" >
        logo_ico = #{logoIco,jdbcType=VARCHAR},
      </if>
      <if test="logoImg != null" >
        logo_img = #{logoImg,jdbcType=VARCHAR},
      </if>
      <if test="websiteTitle != null" >
        website_title = #{websiteTitle,jdbcType=VARCHAR},
      </if>
      <if test="websiteKeyword != null" >
        website_keyword = #{websiteKeyword,jdbcType=VARCHAR},
      </if>
      <if test="websiteDesc != null" >
        website_desc = #{websiteDesc,jdbcType=VARCHAR},
      </if>
      <if test="copyright != null" >
        copyright = #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="icp != null" >
        icp = #{icp,jdbcType=VARCHAR},
      </if>
      <if test="prn != null" >
        prn = #{prn,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null" >
        weixin = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="weixinXcx != null" >
        weixin_xcx = #{weixinXcx,jdbcType=VARCHAR},
      </if>
      <if test="weibo != null" >
        weibo = #{weibo,jdbcType=VARCHAR},
      </if>
      <if test="isEnableStatistics != null" >
        is_enable_statistics = #{isEnableStatistics,jdbcType=TINYINT},
      </if>
      <if test="statisticsCode != null" >
        statistics_code = #{statisticsCode,jdbcType=VARCHAR},
      </if>
      <if test="isShowService != null" >
        is_show_service = #{isShowService,jdbcType=TINYINT},
      </if>
      <if test="service1 != null" >
        service1 = #{service1,jdbcType=VARCHAR},
      </if>
      <if test="service2 != null" >
        service2 = #{service2,jdbcType=VARCHAR},
      </if>
      <if test="userAgreement != null" >
        user_agreement = #{userAgreement,jdbcType=VARCHAR},
      </if>
      <if test="recruitTitle != null" >
        recruit_title = #{recruitTitle,jdbcType=VARCHAR},
      </if>
      <if test="recruitInfo != null" >
        recruit_info = #{recruitInfo,jdbcType=VARCHAR},
      </if>
      <if test="entryAgreement != null" >
        entry_agreement = #{entryAgreement,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.Website" >
    update website
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status_id = #{statusId,jdbcType=TINYINT},
      sort = #{sort,jdbcType=INTEGER},
      logo_ico = #{logoIco,jdbcType=VARCHAR},
      logo_img = #{logoImg,jdbcType=VARCHAR},
      website_title = #{websiteTitle,jdbcType=VARCHAR},
      website_keyword = #{websiteKeyword,jdbcType=VARCHAR},
      website_desc = #{websiteDesc,jdbcType=VARCHAR},
      copyright = #{copyright,jdbcType=VARCHAR},
      icp = #{icp,jdbcType=VARCHAR},
      prn = #{prn,jdbcType=VARCHAR},
      weixin = #{weixin,jdbcType=VARCHAR},
      weixin_xcx = #{weixinXcx,jdbcType=VARCHAR},
      weibo = #{weibo,jdbcType=VARCHAR},
      is_enable_statistics = #{isEnableStatistics,jdbcType=TINYINT},
      statistics_code = #{statisticsCode,jdbcType=VARCHAR},
      is_show_service = #{isShowService,jdbcType=TINYINT},
      service1 = #{service1,jdbcType=VARCHAR},
      service2 = #{service2,jdbcType=VARCHAR},
      user_agreement = #{userAgreement,jdbcType=VARCHAR},
      recruit_title = #{recruitTitle,jdbcType=VARCHAR},
      recruit_info = #{recruitInfo,jdbcType=VARCHAR},
      entry_agreement = #{entryAgreement,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>