<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roncoo.education.system.service.dao.impl.mapper.WebsiteRecruitMapper" >
  <resultMap id="BaseResultMap" type="com.roncoo.education.system.service.dao.impl.mapper.entity.WebsiteRecruit" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="status_id" property="statusId" jdbcType="TINYINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="recruit_type" property="recruitType" jdbcType="TINYINT" />
    <result column="recruit_title" property="recruitTitle" jdbcType="VARCHAR" />
    <result column="recruit_info" property="recruitInfo" jdbcType="VARCHAR" />
    <result column="entry_agreement" property="entryAgreement" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_create, gmt_modified, status_id, sort, recruit_type, recruit_title, recruit_info, 
    entry_agreement
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.WebsiteRecruitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from website_recruit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from website_recruit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from website_recruit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.WebsiteRecruitExample" >
    delete from website_recruit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.WebsiteRecruit" >
    insert into website_recruit (id, gmt_create, gmt_modified, 
      status_id, sort, recruit_type, 
      recruit_title, recruit_info, entry_agreement
      )
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{statusId,jdbcType=TINYINT}, #{sort,jdbcType=INTEGER}, #{recruitType,jdbcType=TINYINT}, 
      #{recruitTitle,jdbcType=VARCHAR}, #{recruitInfo,jdbcType=VARCHAR}, #{entryAgreement,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.WebsiteRecruit" >
    insert into website_recruit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="statusId != null" >
        status_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="recruitType != null" >
        recruit_type,
      </if>
      <if test="recruitTitle != null" >
        recruit_title,
      </if>
      <if test="recruitInfo != null" >
        recruit_info,
      </if>
      <if test="entryAgreement != null" >
        entry_agreement,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="recruitType != null" >
        #{recruitType,jdbcType=TINYINT},
      </if>
      <if test="recruitTitle != null" >
        #{recruitTitle,jdbcType=VARCHAR},
      </if>
      <if test="recruitInfo != null" >
        #{recruitInfo,jdbcType=VARCHAR},
      </if>
      <if test="entryAgreement != null" >
        #{entryAgreement,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.WebsiteRecruitExample" resultType="java.lang.Integer" >
    select count(*) from website_recruit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update website_recruit
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusId != null" >
        status_id = #{record.statusId,jdbcType=TINYINT},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.recruitType != null" >
        recruit_type = #{record.recruitType,jdbcType=TINYINT},
      </if>
      <if test="record.recruitTitle != null" >
        recruit_title = #{record.recruitTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.recruitInfo != null" >
        recruit_info = #{record.recruitInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.entryAgreement != null" >
        entry_agreement = #{record.entryAgreement,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update website_recruit
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      status_id = #{record.statusId,jdbcType=TINYINT},
      sort = #{record.sort,jdbcType=INTEGER},
      recruit_type = #{record.recruitType,jdbcType=TINYINT},
      recruit_title = #{record.recruitTitle,jdbcType=VARCHAR},
      recruit_info = #{record.recruitInfo,jdbcType=VARCHAR},
      entry_agreement = #{record.entryAgreement,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.WebsiteRecruit" >
    update website_recruit
    <set >
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        status_id = #{statusId,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="recruitType != null" >
        recruit_type = #{recruitType,jdbcType=TINYINT},
      </if>
      <if test="recruitTitle != null" >
        recruit_title = #{recruitTitle,jdbcType=VARCHAR},
      </if>
      <if test="recruitInfo != null" >
        recruit_info = #{recruitInfo,jdbcType=VARCHAR},
      </if>
      <if test="entryAgreement != null" >
        entry_agreement = #{entryAgreement,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.roncoo.education.system.service.dao.impl.mapper.entity.WebsiteRecruit" >
    update website_recruit
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status_id = #{statusId,jdbcType=TINYINT},
      sort = #{sort,jdbcType=INTEGER},
      recruit_type = #{recruitType,jdbcType=TINYINT},
      recruit_title = #{recruitTitle,jdbcType=VARCHAR},
      recruit_info = #{recruitInfo,jdbcType=VARCHAR},
      entry_agreement = #{entryAgreement,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>