<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <!-- 配置文件 -->
    <properties resource="config.properties"/>

    <!-- 数据库驱动，若引入了驱动jar，可以不配置 -->
    <!-- <classPathEntry location="绝对路径：D:/mysql-connector-java-5.1.44.jar" />  -->

    <context id="MySql" targetRuntime="MyBatis3">
        <!-- 注解插件 -->
        <plugin type="com.roncoo.mybatis.generator.plugins.AnnotationPlugin">
            <property name="annotationClass" value="org.apache.ibatis.annotations.Mapper"/>
            <property name="annotationName" value="@Mapper"/>
        </plugin>
        <!-- 分页插件 -->
        <plugin type="com.roncoo.mybatis.generator.plugins.PaginationPlugin"/>
        <!-- 覆盖xml插件 -->
        <plugin type="com.roncoo.mybatis.generator.plugins.OverIsMergeablePlugin"/>
        <!-- 序列化插件 -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <!-- ToString插件 -->
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <commentGenerator>
            <!-- 是否去除自动生成的注释，默认false；true：去除；false：不去除 -->
            <property name="suppressAllComments" value="true"/>
            <!-- 指定在生成的注释是否将包括时间戳，默认是false -->
            <property name="suppressDate" value="true"/>
        </commentGenerator>
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver" connectionURL="${db.url}" userId="${db.username}" password="${db.password}"/>

        <!-- 自定义解析器 -->
        <javaTypeResolver type="com.roncoo.mybatis.generator.internal.type.JavaTypeResolverCustomImpl">
            <!-- 默认false，把JDBC DECIMAL 和 NUMERIC 类型解析为 Integer; true，把JDBC DECIMAL和 NUMERIC 类型解析为java.math.BigDecimal -->
            <property name="forceBigDecimals" value="true"/>
        </javaTypeResolver>

        <!-- 注意：targetProject不会自动创建，需要先存在，否则不生成实体和配置文件 -->
        <!-- 生成entity类 -->
        <javaModelGenerator targetPackage="${packagePrefix}.${packageName}.dao.impl.mapper.entity" targetProject="${projectPath}/${projectName}/src/main/java">
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!-- 生成xml文件 -->
        <sqlMapGenerator targetPackage="mybatis" targetProject="${projectPath}/${projectName}/src/main/resources"></sqlMapGenerator>
        <!-- 生成mapper类 -->
        <javaClientGenerator targetPackage="${packagePrefix}.${packageName}.dao.impl.mapper" targetProject="${projectPath}/${projectName}/src/main/java" type="XMLMAPPER"></javaClientGenerator>
        <!-- %代表生成全部的表 -->
        <table tableName="${tableNames}"/>
    </context>
</generatorConfiguration>
