[mysqld]
default-time_zone='+8:00'
character_set_server=utf8mb4
collation_server=utf8mb4_general_ci
innodb_buffer_pool_size=512M
innodb_log_file_size=256M
max_allowed_packet=64M
max_connections=1024
disable-log-bin
default_authentication_plugin=mysql_native_password
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
lower-case-table-names=1

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4
